.App-header {
    background-color: #ffffff;
    min-height: 6vh;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom:solid 1px #f1f1f1;
  }
  .headerName{
    cursor: pointer;
    font-size: 21px;
    background: url('../images/NTT-Logo.jpeg') center center;
    background-repeat: no-repeat;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }