.header h2, h3{
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #8ca8e0;
}
.Main{
    display: flex;
}
.innerContainer{
    border: solid 1px gray;
    flex: 3;
    margin:10px;
    justify-items: center;
    align-items: center;
}
.ideaInitialSection{
  border-bottom:solid 1px gray;
}
.problemSection, .solutionSection, .benefitSection{
    display: flex;
}

.problemSection textarea, .solutionSection textarea, .benefitSection textarea{
    flex:5;
}
.problemSection span, solutionSection span, benefitSection span {
    flex:1;
}
.ideaDescSection{
    flex:5;
}
.btnSubmit{
   display: flex;
   align-content: space-around;
}
button{
    background: #4767a5;
    flex:3;
    color: #ffffff;
    font-size: 18px;
    border-style: none;
    margin:0 1px 0 2px;
}