.sideBar{
    /* display: flex;
    font-size: 13px;
    left: 0px;
    right: 0;
    min-height: 100vh;
    flex-direction: row; */
    height: 100%;   
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
    box-sizing: border-box;
    font-size: 13px;
}


.leftNavBar{
    z-index:1;
    width: 15%;
    float: 1;
    background-color: #222;
    color:#818181;
    background: url('../images/sidebar.jpg');
    background-size:100% 100%;
    min-height:89vh;
    overflow-y:hidden;
}
.logo-container{
    min-height: 5vh;
    flex: 1;
}
.leftNavBar ul{
    list-style-type: none;
    padding: 15px;
}
.leftNavBar ul>li{
    margin: 10px 5px 0;
    display: block;
    padding: 8px 5px;
    position: relative;
    transition: all 300ms linear;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    border-radius: 3px;
}
.leftNavBar ul>li>a{
    text-decoration: none;
    color: #818181;
    font-size: 16px;
}
.leftNavBar ul>li:hover{
    text-decoration: none;
    color: #ffffff;
}
.leftNavBar ul>li>a:active{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255,255,255,0.2);
}
.leftNavBar ul>div{
    padding: 15px 12px;
    color: #fff;
}

.right-panel{
    width: 85%;
}

.container{
    flex: 1 1 auto;
    position: relative;
    min-height: 90vh;
    padding: 10px;
    background:#fff;
    overflow-y: auto;
}
.activeStyle{
    box-shadow: 0 12px 20px -10px rgba(0,188,212,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(0,188,212,.2);
    background-color: #00acc1;
}


