.header h2, h3{
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #8ca8e0;
}
.Main{
    display: flex;
}
.innerContainer{
    border: solid 1px gray;
    flex: 3;
    margin:10px;
    justify-items: center;
    align-items: center;
}
.ideaFilter{
    border: solid 1px #9bc0ef;
    flex: 2;
    margin:10px;
    justify-items: center;
    align-items: center;
    padding: 25px;

}
.ideaFilter div{
    width: 200px;
    height: 35px;
    font-size: 15px;
    color: #fff;
    background: #8ca8e0;
    padding: 10px;
    border: solid 1px green;
    margin: 5px;
    display: inline-flex;
}
.ValueAddsGraph{
    flex: 1;
}
.react-table{
    margin: 10px;
}